body {
    font-family: 'Source Sans Pro';
  
  }
  body, html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  
  }
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  
  }
  *, ::after, ::before {
    box-sizing: border-box;
  
}
nav{
  background-color: #007bff;
  width: 100%;
  height: 3.750em;
  position: fixed;
  padding-top: 0.5%;
  top: 0;
  left: 0;
 
}
nav div{
  display: inline;
  padding-left: 10%;
  padding-top: 4%;
  font-size: 20px;
  letter-spacing: 3px;
  width: 33%;
}


.masthead {
    width: 100%;
    height: 62.500em;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url(../img/Website.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .head{
    border: 3px solid #007bff;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    margin-top: 10%;
    padding: 1.250em;
    background-color: rgba(255, 255, 255, 0.493)
  }
  a{
    color: black;
    text-decoration: none;
    background-color: transparent;
  }
  a:hover{
    border-right: 2px;
    color:white;
    border-left: 2px;
  }
  .name{
    padding: 30px;
    margin-bottom: 1.250em;
  }
  
  .work{
    padding-bottom : 1.875em;
  }
  
  .imgofme{
    border-radius: 50%;
    float: left;
  }
  
  
  #about{
    padding-top: 3%;
  }
  
  .section1{
      height: 25.000em;
      text-align: center;
      margin-left: 10%;
  }
  
  
  .bg-primary {
    background-color: #007bff !important;
  }
  .section2{
      padding-left: 10%;
      height: 50.000em;
      color: white;
  }

 

  .heading{
      text-align: center;
  }
  
  #education{
      padding-top: 4%;

  }
  

  .section3 {
    text-align: center;
    padding-top: 4rem;
  }
  .gla{
    transition: 0.8s ease-in-out;
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    width: 5.625em;
    height: 5.625em;
  }

  .gla:hover{ 
    
    box-shadow: 0 0 11px white;
  }
  
  
  .icons{
    height: 200px;
    width: 200px;
    border: black 2px solid;
  }

  .project{
    padding-top: 1.000em;
  }

  

  .section4{
    text-align: center;
    height: 28.500em;
    color: white;
    
  }
  
  .john{
    width: 100%;
    height: 15.625em;
  }

  .john:hover{
    box-shadow: 0 0 11px white;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 1%;
    
  }
  .code{
    width: 100%;
    height: 15.625em;
  }
  .code:hover{
    box-shadow: 0 0 11px white;
    background-color: rgba(0, 0, 0, 0.322);
    padding:1%;
  }
  .contact{
    text-align: center;
  }

  footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 15% 15% 15% 15% 15%;
    margin-left: 20%;
    height: 200px;
    padding-top: 35px;
  }
  .size{
    width: 75%;
    height: 90px;;
  }
  .phone{
    width: 100%;
    height: 110px;
  }
  .social{
    width: 50%;
    height: 90px;
    border-radius: 30%;
    transition: 1s ease-in-out;
  }
  .social :hover{
    background-color: rgba(255, 255, 255, 0.329);
    padding: 2%;
  }
  .copyright{
    background-color: #007bff;
    height: 30px;
    padding-left: 80%;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }