
//styleing the body for the whole website page
body {
    font-family: 'Source Sans Pro';
  
  }
  body, html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  
  }
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: $textcolor;
  
  }
  *, ::after, ::before {
    box-sizing: border-box;
  
}
// navigation styling
nav{
  background-color:$primcolor;
  width: 100%;
  height: 3.750em;
  position: fixed;
  padding-top: 0.5%;
  top: 0;
  left: 0;
  border: $borderbottom 3px solid;
 
}
nav div{
  display: inline;
  padding-left: 10%;
  padding-top: 4%;
  font-size: 20px;
  letter-spacing: 3px;
  width: 33%;
}

//the background img 
.masthead {
    width: 100%;
    height: 62.500em;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url(../img/webs.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  // the text on the background image styling
  .head{
    border: 3px solid $borderbottom;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    margin-top: 10%;
    padding: 1.250em;
    background-color: $backtotopbtn;
  }
  // all links styling and hovering
  a{
    color: $borderbottom;
    text-decoration: none;
    background-color: transparent;
  }
  a:hover{
    border-right: 2px;
    color:$hovercolor;
    border-left: 2px;
  }
  // size of my name and what im applying for
  .name{
    padding: 30px;
    margin-bottom: 1.250em;
  }
  
  .work{
    padding-bottom : 1.875em;
  }
  // img of me in about section
  .imgofme{
    border-radius:50%;
    
    float: left;
  }
  
  
  #about{
    padding-top: 3%;
  }
  
  .section1{
      height: 25.000em;
      text-align: center;
      margin-left: 10%;
  }
  
  // background colors for the blue
  .bg-primary {
    background-color: $bgcolor !important;
  }
  // section 2 styling
  .section2{
      padding-left: 10%;
      padding-right: 5%;
      height: 54.000em;
      color: $borderbottom;

  }

 

  .heading{
      text-align: center;
  }
  
  #education{
      padding-top: 4%;

  }
  

  .section3 {
    text-align: center;
    padding-top: 4rem;
    padding-left: 20%;
  }
  #rss{
    border-right: 2px dotted black;
    padding-left: 0px; 
  }
  #rlabs{
    border-right: 2px dotted black;
    padding-left: 0px;
  }
  

  // gla images
  .gla{
    transition: 0.8s ease-in-out;
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    width: 5.625em;
    height: 5.625em;
  }

  .gla:hover{ 
    
    box-shadow: 0 0 11px $textcolor;
  }
  
  // for the skills and abilites
  .icons{
    height: 200px;
    width: 200px;
    border: $borderbottom 2px solid;
  }
//project section
  .project{
    padding-top: 1.000em;
  }

  

  .section4{
    text-align: center;
    height: 28.500em;
    color: $textcolor;
    
  }
  // sizes of the projects section for the imges and the hovering
  .john{
    width: 100%;
    height: 15.625em;
  }

  .john:hover{
    box-shadow: 0 0 11px white;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 1%;
    
  }
  .code{
    width: 100%;
    height: 15.625em;
  }
  .code:hover{
    box-shadow: 0 0 11px $textcolor;
    background-color: rgba(0, 0, 0, 0.322);
    padding:1%;
  }
  .contact{
    text-align: center;
  }
 // the footes base styles start here
  footer{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 17% 17% 17% 17% 17% 17%;
    margin-left: 5%;
    height: 200px;
    padding-top: 35px;
  }
  .size{
    width: 100%;
    height: 90px;;
  }
  .phone{
    width: 100%;
    height: 110px;
  }
  .social{
    width: 40%;
    height: 90px;
    border-radius: 30%;
    transition: 1s ease-in-out;
  }
  .social :hover{
    background-color: $backtotopbtn;
    padding: 2%;
  }
  .copyright{
    background-color: $primcolor;
    height: 30px;
    padding-left: 80%;
  }

  //too hover over the phone icon and text pops up
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $borderbottom;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $borderbottom;
    color: $textcolor;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
   //too hover over the phone icon and text pops up
  .tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $borderbottom;
  }

  .tooltips .tooltiptexts {
    visibility: hidden;
    width: 220px;
    background-color: $borderbottom;
    color: $textcolor;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltips:hover .tooltiptexts {
    visibility: visible;
  }