.grid-container-1{
    position: fixed;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-gap: 20px;
    background-color: #007bff;
    height: 70px;
    width: 100%
  }
  .grid-container-1 > div{
    margin-left: 11%;
    padding-top: 7%;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
  }