// my layout and grids

// different grids for each section
  .grid-container-2{
    display: grid;
    grid-template-columns: 20% 40%;
    grid-gap: 120px;
    margin-left: 10%;
  }

  .grid-container-3{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 100px;
    text-align: justify;
  }
 
  .grid-container-4{
    display: grid;
    grid-template-columns: 25% 25% 25% ;
    grid-gap: 0px;
    margin-left: 15%;
    color: white;
    text-align: center;;
    
  }

 .grid-container-5{
    margin-left: 15%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 40% 40%;
    color: #303030;
  }
  footer{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 17% 17% 17% 17%;
    margin-left: 5%;
    height: 200px;
    padding-top: 35px;
    margin-left: 25%;
  }