// variables

$lightblue : #007bff;
$white: white;
$grey: grey;
$lightgrey: rgba(255, 255, 255, 0.521);
// $lightergrey:
$black: black;

// functional color

$primcolor: $lightblue;
$textcolor:$white;
$hovercolor:$grey;
$backtotopbtn:$lightgrey;
$borderbottom:$black;
