// variables

$silver : #C0C0C0;
$white: white;
$black: black;
$grey: grey;
$lightgrey: rgba(255, 255, 255, 0.849);
// $lightergrey:
$black: black;

// functional color

$primcolor: $white;
$bgcolor: $silver;
$textcolor:$white;
$hovercolor:$grey;
$backtotopbtn:$lightgrey;
$borderbottom:$black;
